* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 250px;
    color:  #4d4e53;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 250px;
    width: 300px;
    height: 100%;
    border-right: solid darkolivegreen 3px;
}

header {
    font-size: x-large;
    padding: 5px;
    font-weight: bolder;
}

#navbar ul {
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-top: 1px solid;
    position: relative;
    width: 100%;
    list-style: none;
}

#navbar a {
    color: darkolivegreen;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
}

#main-doc {
    position: absolute;
    margin-left: 320px;
    padding: 20px;
}

@media only screen and (max-width: 815px) {
    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 250px;
    }

    #navbar {
        position: absolute;
        width: 100%;
        border-bottom: solid darkolivegreen 3px;
        height: auto;
    }

    #navbar ul {
        height: 200px;
    }
}

#main-doc article {
    margin-left: 15px;
    margin-bottom: 30px;
}

#main-doc p {
    margin-bottom: 20px;
}

code {
    display: block;
    text-align: left;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background-color:rgba(179, 154, 123, 0.514);
}

#main-doc ul {
    margin: 40px 100px;
    text-align: justify;
}

#main-doc li {
    margin: 5px 0;
}